<h1>Users</h1>

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Email</th>
			<th>Password</th>
			<th>Edit</th>
			<th>Remove</th>

		</tr>
	</thead>
	<tbody>
		{{#each model as |user|}}
		<tr>
			<th>{{user.id}}</th>
			<th>{{user.email}}</th>
			<th>{{user.password}}</th>
			<th>{{#link-to 'admin.users.profile' user.id class='btn btn-success btn-xs'}}Edit{{/link-to}}</th>
			<td><button class="btn btn-danger btn-xs" {{action 'deleteUser' user}}>Delete</button></td>
			</tr>
			{{/each}}
		</tbody>




	</table>